{% extends "HTML5VertiTemplateBundle::layout.html.twig" %}
{%- block title -%}Verti by HTML5 UP{%- endblock -%}
{%- block body_class -%}homepage{%- endblock -%}
{%- block body -%}
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            {%- block banner -%}
                <div class="row">
                    <div class="7u">
                        <h2>Hi. This is Verti.</h2>
                        <p>It's a free responsive site template by HTML5 UP</p>
                    </div>
                    <div class="5u">
                        <ul>
                            <li><a href="#" class="button big icon fa-arrow-circle-right">Ok let's go</a></li>
                            <li><a href="#" class="button alt big icon fa-question-circle">More info</a></li>
                        </ul>
                    </div>
                </div>
            {%- endblock -%}
        </div>
    </div>
    <div id="features-wrapper">
        <div class="container">
            <div class="row">
                {%- block features -%}
                    <div class="4u">
                        <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured">
                                {%- image '@HTML5VertiTemplateBundle/Resources/public/images/pic01.jpg' filter='jpegoptim' output='images/pic01.jpg' -%}
                                    <img src="{{- asset_url -}}" alt="" />
                                {%- endimage -%}
                            </a>
                            <div class="inner">
                                <header>
                                    <h2>Put something here</h2>
                                    <p>Maybe here as well I think</p>
                                </header>
                                <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                            </div>
                        </section>
                    </div>
                    <div class="4u">
                        <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured">
                                {%- image '@HTML5VertiTemplateBundle/Resources/public/images/pic02.jpg' filter='jpegoptim' output='images/pic02.jpg' -%}
                                    <img src="{{- asset_url -}}" alt="" />
                                {%- endimage -%}
                            </a>
                            <div class="inner">
                                <header>
                                    <h2>An interesting title</h2>
                                    <p>This is also an interesting subtitle</p>
                                </header>
                                <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                            </div>
                        </section>
                    </div>
                    <div class="4u">
                        <!-- Box -->
                        <section class="box feature last">
                            <a href="#" class="image featured">
                                {%- image '@HTML5VertiTemplateBundle/Resources/public/images/pic03.jpg' filter='jpegoptim' output='images/pic03.jpg' -%}
                                    <img src="{{- asset_url -}}" alt="" />
                                {%- endimage -%}
                            </a>
                            <div class="inner">
                                <header>
                                    <h2>Oh, and finally ...</h2>
                                    <p>Here's another intriguing subtitle</p>
                                </header>
                                <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                            </div>
                        </section>
                    </div>
                {%- endblock -%}
            </div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                {%- block main -%}
                    <div class="4u">
                        <!-- Sidebar -->
                        <div id="sidebar">
                            <section class="widget thumbnails">
                                <h3>Interesting stuff</h3>
                                <div class="grid">
                                    <div class="row no-collapse 50%">
                                        <div class="6u">
                                            <a href="#" class="image fit">
                                                {%- image '@HTML5VertiTemplateBundle/Resources/public/images/pic04.jpg' filter='jpegoptim' output='images/pic04.jpg' -%}
                                                    <img src="{{- asset_url -}}" alt="" />
                                                {%- endimage -%}
                                            </a>
                                        </div>
                                        <div class="6u">
                                            <a href="#" class="image fit">
                                                {%- image '@HTML5VertiTemplateBundle/Resources/public/images/pic05.jpg' filter='jpegoptim' output='images/pic05.jpg' -%}
                                                    <img src="{{- asset_url -}}" alt="" />
                                                {%- endimage -%}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row no-collapse 50%">
                                        <div class="6u">
                                            <a href="#" class="image fit">
                                                {%- image '@HTML5VertiTemplateBundle/Resources/public/images/pic06.jpg' filter='jpegoptim' output='images/pic06.jpg' -%}
                                                    <img src="{{- asset_url -}}" alt="" />
                                                {%- endimage -%}
                                            </a>
                                        </div>
                                        <div class="6u">
                                            {%- image '@HTML5VertiTemplateBundle/Resources/public/images/pic07.jpg' filter='jpegoptim' output='images/pic07.jpg' -%}
                                                <img src="{{- asset_url -}}" alt="" />
                                            {%- endimage -%}
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="button icon fa-file-text-o">More</a>
                            </section>
                        </div>
                    </div>
                    <div class="8u important(collapse)">
                        <!-- Content -->
                        <div id="content">
                            <section class="last">
                                <h2>So what's this all about?</h2>
                                <p>This is <strong>Verti</strong>, a free and fully responsive HTML5 site template by <a rel="nofollow" href="http://html5up.net">HTML5 UP</a>.
                                    Verti is released under the <a rel="nofollow" href="http://html5up.net/license">Creative Commons Attribution license</a>, so feel free to use it for any personal or commercial project you might have going on (just don't forget to credit us for the design!)</p>
                                <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.</p>
                                <a href="#" class="button icon fa-arrow-circle-right">Continue Reading</a>
                            </section>
                        </div>
                    </div>
                {%- endblock -%}
            </div>
        </div>
    </div>
{%- endblock -%}