<!DOCTYPE HTML>
{%- spaceless -%}
<html>
<head>
    <title>{%- block title -%}{%- endblock -%}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{%- block description -%}{%- endblock -%}" />
    <meta name="keywords" content="{%- block keywords -%}{%- endblock -%}" />
    {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/css/skel.css' filter='uglifycss' output='css/skel.css' -%}
    <link rel="stylesheet" type="text/css" href="{{- html5_verti_template.cdn -}}{{- asset_url -}}"/>
    {%- endstylesheets -%}
    <noscript>
        {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/css/style.css' filter='uglifycss' output='css/style.css' -%}
        <link rel="stylesheet" type="text/css" href="{{- html5_verti_template.cdn -}}{{- asset_url -}}"/>
        {%- endstylesheets -%}
        {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/css/style-desktop.css' filter='uglifycss' output='css/style-desktop.css' -%}
        <link rel="stylesheet" type="text/css" href="{{- html5_verti_template.cdn -}}{{- asset_url -}}"/>
        {%- endstylesheets -%}
    </noscript>
    {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/css/ie/v8.css' filter='uglifycss' output='css/ie/v8.css' -%}
    <!--[if lte IE 8]><link rel="stylesheet" href="{{- html5_verti_template.cdn -}}{{- asset_url -}}" /><![endif]-->
    {%- endstylesheets -%}
    {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/fonts/FontAwesome.otf' output='fonts/FontAwesome.otf' -%}{%- endstylesheets -%}
    {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/fonts/fontawesome-webfont.eot' output='fonts/fontawesome-webfont.eot' -%}{%- endstylesheets -%}
    {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/fonts/fontawesome-webfont.svg' output='fonts/fontawesome-webfont.svg' -%}{%- endstylesheets -%}
    {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/fonts/fontawesome-webfont.ttf' output='fonts/fontawesome-webfont.ttf' -%}{%- endstylesheets -%}
    {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/fonts/fontawesome-webfont.woff' output='fonts/fontawesome-webfont.woff' -%}{%- endstylesheets -%}
    {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/fonts/fontawesome-webfont.woff2' output='fonts/fontawesome-webfont.woff2' -%}{%- endstylesheets -%}
    {%- image '@HTML5VertiTemplateBundle/Resources/public/images/bg01.png' filter='optipng' output='images/bg01.png' -%}{%- endimage -%}
    {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/css/font-awesome.min.css' filter='uglifycss' output='css/font-awesome.min.css' -%}{%- endstylesheets -%}
    {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/css/style-1000px.css' filter='uglifycss' output='css/style-1000px.css' -%}{%- endstylesheets -%}
    {%- stylesheets '@HTML5VertiTemplateBundle/Resources/public/css/style-mobile.css' filter='uglifycss' output='css/style-mobile.css' -%}{%- endstylesheets -%}
    {%- block head -%}{%- endblock -%}
</head>
<body class="{%- block body_class -%}{%- endblock -%}">
{%- block header -%}
    <div id="header-wrapper">
        <header id="header" class="container">
            <!-- Logo -->
            <div id="logo">
                <h1><a href="{{- path('HTML5_verti_template_bundle_demo_index') -}}">Verti</a></h1>
                <span>by HTML5 UP</span>
            </div>
            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="index.html">Welcome</a></li>
                    <li>
                        <a href="">Dropdown</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li>
                                <a href="">Phasellus consequat</a>
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">Phasellus consequat</a></li>
                                    <li><a href="#">Magna phasellus</a></li>
                                    <li><a href="#">Etiam dolore nisl</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Veroeros feugiat</a></li>
                        </ul>
                    </li>
                    <li{%- if app.request.attributes.get('_route') == 'HTML5_verti_template_bundle_demo_left_sidebar' %} class="current"{%- endif -%}>
                        <a href="{{- path('HTML5_verti_template_bundle_demo_left_sidebar') -}}">Left Sidebar</a>
                    </li>
                    <li{%- if app.request.attributes.get('_route') == 'HTML5_verti_template_bundle_demo_right_sidebar' %} class="current"{%- endif -%}>
                        <a href="{{- path('HTML5_verti_template_bundle_demo_right_sidebar') -}}">Right Sidebar</a>
                    </li>
                    <li{%- if app.request.attributes.get('_route') == 'HTML5_verti_template_bundle_demo_no_sidebar' %} class="current"{%- endif -%}>
                        <a href="{{- path('HTML5_verti_template_bundle_demo_no_sidebar') -}}">No Sidebar</a>
                    </li>
                </ul>
            </nav>

        </header>
    </div>
{%- endblock -%}
{%- block body -%}{%- endblock -%}
{%- block footer -%}
    <!-- Footer -->
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <div class="3u">
                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>
                            <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                            <li><a href="#">Sed porttitor cras in erat nec</a></li>
                            <li><a href="#">Felis varius pellentesque potenti</a></li>
                            <li><a href="#">Nullam scelerisque blandit leo</a></li>
                        </ul>
                    </section>
                </div>
                <div class="3u">
                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>
                            <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                            <li><a href="#">Sed porttitor cras in erat nec</a></li>
                            <li><a href="#">Felis varius pellentesque potenti</a></li>
                            <li><a href="#">Nullam scelerisque blandit leo</a></li>
                        </ul>
                    </section>
                </div>
                <div class="3u">
                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>
                            <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                            <li><a href="#">Sed porttitor cras in erat nec</a></li>
                            <li><a href="#">Felis varius pellentesque potenti</a></li>
                            <li><a href="#">Nullam scelerisque blandit leo</a></li>
                        </ul>
                    </section>
                </div>
                <div class="3u">
                    <!-- Contact -->
                    <section class="widget contact last">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                            <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                        </ul>
                        <p>1234 Fictional Road<br />Nashville, TN 00000<br />(800) 555-0000</p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="12u">
                    <div id="copyright">
                        <ul class="menu">
                            <li>&copy; Untitled. All rights reserved</li><li>Design: <a rel="nofollow" href="http://html5up.net">HTML5 UP</a></li><li>Demo Images: <a rel="nofollow" href="http://unsplash.com">Unsplash</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{%- endblock -%}
{%- javascripts '@HTML5VertiTemplateBundle/Resources/public/css/ie/html5shiv.js' filter='uglifyjs2' output='css/ie/html5shiv.js' -%}
<!--[if lte IE 8]><script src="{{- html5_verti_template.cdn -}}{{- asset_url -}}"></script><![endif]-->
{%- endjavascripts -%}
<script>var cdn = '{{- html5_verti_template.cdn -}}';</script>
{%- include "JqueryBundle:Jquery:jquery.html.twig" -%}
{%- javascripts
'@HTML5VertiTemplateBundle/Resources/public/js/jquery.dropotron.min.js'
'@HTML5VertiTemplateBundle/Resources/public/js/skel.min.js'
'@HTML5VertiTemplateBundle/Resources/public/js/skel-layers.min.js'
'@HTML5VertiTemplateBundle/Resources/public/js/init.js'
filter='uglifyjs2' -%}
<script src="{{- html5_verti_template.cdn -}}{{- asset_url -}}"></script>
{%- endjavascripts -%}
{%- block javascripts -%}{%- endblock -%}
</body>
</html>
{%- endspaceless -%}